/* HEADER */


/* NAV SEARCH */
.navbar-search button {
  width: 72px;
  display: inline-block;
  *display: inline;
  padding: 4px 12px;
  margin-bottom: 0;
  *margin-left: .3em;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  vertical-align: middle;
  cursor: pointer;
  background-color: #ffcc66;
  *background-color: #ffcc33;
  background-image: -moz-linear-gradient(top, #ffcc66, #ffcc33);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffcc66), to(#ffcc33));
  background-image: -webkit-linear-gradient(top, #ffcc66, #ffcc33);
  background-image: -o-linear-gradient(top, #ffcc66, #ffcc33);
  background-image: linear-gradient(to bottom, #ffcc66, #ffcc33);
  background-repeat: repeat-x;
  border: 1px solid #ffcc33;
  *border: 0;
  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffcc66', endColorstr='#ffffcc33', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.navbar-search button:hover,
.navbar-search button:focus {
  color: #fff;
  border-color: #c6cedb;
  background: #f7f7f7;
}

/* SUB-MENU */


.sub-menu {
}

li.sub-menu .caret {
  display: block;
  border-top-color: #fff;
  margin: 6px auto -10px;
}

li.sub-menu:hover .caret {
  border-top-color: #c6cedb;
}

.sub-menu ul.nav-list {
	float: left;
	width: 240px;
}

.sub-menu ul.nav-list:last-child {
	width: 460px;
}

.sub-menu ul.nav-list:last-child li.nav-header {
	float: none;
	color: #8a95a6;
}

.sub-menu ul.nav-list:last-child li {
	float: left;
	width: 230px;
}

.sub-menu .container {
	padding: 12px 0;
}


/* TREATY HEADER */
.treaty-header {
  margin-bottom: 18px;
  border-bottom: 1px solid #c6cedb;
  padding-bottom: 12px;
}

.treaty-header h1 {
	margin: 0;
}





div#content div.section h2 {
	margin: 24px 0 8px 0; 
	border-bottom: 1px solid #c6cedb;
}

div#content div.section:first-child h2 {
	margin-top: 0;
}

div.section > .tab-content,
div.section > .pill-content {
	overflow: hidden;
}

div.section > .tab-content > .tab-pane,
div.section > .pill-content > .pill-pane {
	margin: -1px;
	border: 1px solid #c6cedb;
}


/* NAV-BOX */
.nav-box > * {
	margin-bottom: 12px;
	background: #f7f7f7;
}

/* TAG CLOUD */
#tag-cloud {
	margin: 0;
}

#tag-cloud ol > li {
	font-size: 10px;
	line-height: 14px;
}

.tag10 { font-size:15px; line-height: 18px; }
.tag9  { font-size:14px; line-height: 17px; }
.tag8  { font-size:14px; line-height: 17px; }
.tag7  { font-size:14px; line-height: 17px; }
.tag6  { font-size:12px; line-height: 16px; }
.tag5  { font-size:12px; line-height: 16px; }
.tag4  { font-size:12px; line-height: 16px; }
.tag3  { font-size:10px; line-height: 15px; }
.tag2  { font-size:10px; line-height: 15px; }
.tag1  { font-size:10px; line-height: 15px; }


/* FOCAL POINTS */
.select {
	margin-right: 20px;
	background: #f7f7f7;
}

.focal-point {

}

.focal-point .media-object {
	width: 60px;
}

.focal-point h3 {
	font-family: Georgia, serif;
	margin: 0 0 12px;
}

.focal-point h3 + p {
	margin-top: -12px;
	font-family: Georgia, serif;
	font-style: italic;
}