/****************************/
/********** HEADER **********/
/****************************/
li.sub-menu .caret {
  display: block;
  border-top-color: #fff;
  border-width: 5px;
  margin: 6px auto -11px;
}

li.sub-menu:hover .caret {
  border-top-color: #c6cedb;
}

.sub-menu ul.span6 li.nav-header {
  float: none;
  color: #8a95a6;
}

.sub-menu ul.span6 li {
  float: left;
  width: 49%;
}

.sub-menu .container {
  padding: 12px 0;
}

/* SEARCH */
input.search-query {
  padding-right: 12px;
  padding-left: 12px;
}

.navbar .btn {
  margin-top: 0;
}


/*****************************/
/********** BUTTONS **********/
/*****************************/
/* NAVBAR BUTTONS NORMAL */
.navbar .nav > li > a,
.navbar .nav > li > div.sub-menu > a {
  float: none;
  padding: 24px 12px;
  border-left: 1px solid rgba(247,247,247,0.25);
  border-right: 1px solid rgba(26,58,111,0.25);
  font-family: Georgia, serif;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  text-shadow: 0 1px 1px #1a3a6f;
        filter: dropshadow(color=#1a3a6f, offx=, offy=1);
}

.navbar-search button {
  width: 72px;
  color: #ffffff;
  background-color: #ffcc66;
  *background-color: #ffcc66;
  background-image: -moz-linear-gradient(top, #ffcc66, #ffcc66);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffcc66), to(#ffcc66));
  background-image: -webkit-linear-gradient(top, #ffcc66, #ffcc66);
  background-image: -o-linear-gradient(top, #ffcc66, #ffcc66);
  background-image: linear-gradient(to bottom, #ffcc66, #ffcc66);
  background-repeat: repeat-x;
  border: 1px solid #ffcc66;
  *border: 0;
  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffcc66', endColorstr='#ffffcc66', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

/* BUTTON NORMAL */

.btn .caret {
  margin-top: 8px;
  margin-left: 0;
}

/* BUTTONS MINI NORMAL*/


.btn-mini .caret {
  border-width: 3px;
  margin-top: 9px;
}



.btn-primary .caret {
  border-top-color: #ffffff;
}

/* DROPDOWN BUTTON FOR SELECT NORMAL */
div.dropdown.filter .btn {
  vertical-align: top;
  height: 18px;
  *padding-top: 2px;
  padding-right: 4px;
  *padding-bottom: 2px;
  padding-left: 4px;
  -webkit-border-radius: 0px;
     -moz-border-radius: 0px;
          border-radius: 0px;
}

div.dropdown.filter .caret {
  margin-top: 2px;
}

/*****************************/
/********** NAV BOX **********/
/*****************************/
a .qty,
a:active .qty, 
a:visited .qty {
  float: right;
  color: #8a95a6;
}

a:hover .qty,
a:focus .qty {
  color: #fff;
}

/* TAG CLOUD */
.tag-cloud ol {
  margin-top: 6px;
  padding-left: 30px;
  font-size: 10px;
  line-height: 14px;
  color: #8a95a6;
}

.tag-cloud ol li a,
a.tag {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

a.tag:hover,
a.tag:focus,
.tag-cloud ol li a:hover {
  padding: 1px 3px;
  margin: -1px -3px;
  color: #fff;
  text-decoration: none;
  background: #3399cc;
  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;
}

.tag10 { font-size:15px; line-height: 18px; }
.tag9  { font-size:14px; line-height: 17px; }
.tag8  { font-size:14px; line-height: 17px; }
.tag7  { font-size:14px; line-height: 17px; }
.tag6  { font-size:12px; line-height: 16px; }
.tag5  { font-size:12px; line-height: 16px; }
.tag4  { font-size:12px; line-height: 16px; }
.tag3  { font-size:10px; line-height: 15px; }
.tag2  { font-size:10px; line-height: 15px; }
.tag1  { font-size:10px; line-height: 15px; }


/*****************************/
/********** SECTION **********/
/*****************************/
.section {
  margin-bottom: 24px;
}

.section h2 {
	margin: 0 0 8px 0; 
	border-bottom: 1px solid #c6cedb;
}

.section > .tab-content {
  overflow: hidden;
}

.section > .tab-content > .tab-pane {
	/*border: 1px solid #c6cedb;*/
  padding: 6px 12px;
  margin: -1px;
}

.section > .tab-content > .tab-pane#members-list {
  padding: 0;
}

.section > .tab-content > .tab-pane#members-list table {
  margin: 0;
}

/*******************************/
/********** DECISIONS **********/
/*******************************/
#decisions h2 { margin-bottom: -1px; }

#decisions .meeting-bar {
  list-style-type: none;
  margin: 0 0 -1px 0;
  border: 1px solid #c6cedb;
  padding: 0;
  line-height: 18px;
}

#decisions .meeting-bar > li { float: left; }

#decisions .meeting-bar .next,
#decisions .meeting-bar .prev {
  width: 120px;
  text-align: center;
}

#decisions .meeting-bar .next { border-left: 1px solid #c6cedb; }
#decisions .meeting-bar .prev { border-right: 1px solid #c6cedb; }

#decisions .meeting-bar .next a,
#decisions .meeting-bar .prev a,
#decisions .meeting-bar .meeting {
  display: block;
  padding: 3px 6px;
}

#decisions .meeting-bar .meeting {
  position: relative;
  width: 444px;
}

#decisions .meeting-bar .next a:hover,
#decisions .meeting-bar .next a:focus,
#decisions .meeting-bar .prev a:hover,
#decisions .meeting-bar .prev a:focus {
  text-decoration: none;
  background: #f7f7f7;
}


#decisions .decisions-list {
  min-height: 240px;
  max-height: 600px;
  overflow-y: auto;
  margin: 0;
  border: 1px solid #c6cedb;
  padding: 6px 8px;
  list-style-type: none;
}

/**********************************/
/********** FOCAL POINTS **********/
/**********************************/
div.select {
	margin-right: 20px;
  text-align: center;
}

div.select .box {
  margin-bottom: 12px;
}

div.select .box h3 {
  font-size: 13px;
  margin: 3px 0;
}

div.select .box p {
  font-size: 11px;
  margin: 0;
}

/****************************/
/********** FOOTER **********/
/****************************/


.footer {
  overflow: hidden;
  margin-top: 24px;
  border-top: 2px solid #8a95a6;
  color: #505c6a;
  background-color: #16232e;
}

.footer a,
.footer a:visited {
  color: #8a95a6;
}

.footer a:hover,
.footer a:focus {
  color: #c6cedb;
}

.footer ul > li {
  padding: 3px 0;
}

.footer ul li.h-separator{
  height: 1px;
  line-height: 0;
  padding: 0;
  margin: 6px 0;
  background: #505c6a;
}

.footer .section {
  padding: 6px 0 12px;
  border-top: 1px solid #505c6a;
}

.footer .section:first-child {
  border-top: 0;
}

.footer h3 {
  margin: 0 0 8px 0;
  font-size: 11px;
  text-transform: uppercase;
  color: #505c6a;
}

.footer h4 {
  font-size: 14px;
  color: #8a95a6;
}

.footer li.logo {
  float: left;
  width: 80px;
}

.footer li.logo:hover,
.footer li.logo:active,
.footer li.logo:focus {
    background-color: rgba(255,255,255,0.2);
}

.footer li.logo a {
  display: block;
  text-align: center;
}

.footer li.logo a:hover {
  text-decoration: none;
}

.footer li.logo a p {
  margin: 6px 0 0 0;
}

/******************************/
/********** TREATIES **********/
/******************************/

#treaties-table {
  border-collapse: collapse;
}

#treaties-table tbody tr {
  border: 1px solid #f7f7f7;
}

#treaties-table tbody tr:hover {
  cursor: pointer;
  outline: 2px solid #3399cc;
  /*outline-offset: 10px;*/ /*Delete if you don't want an offset*/
}

#treaties-table thead th {
  padding-bottom: 8px;
  border: 0;
  position: relative;
  font-size: 15px;
  font-weight: normal;
}

#treaties-table thead th:first-child {
  padding-left: 0;
  color: #565656;
}

#treaties-table thead th .filter,
#treaties-table thead th .dropdown-toggle {
  position: static;
}

#treaties-table thead th .dropdown-menu {
  left: 0;
}

#treaties-table tbody td {
  height: 60px;
  border: 0;
  vertical-align: middle;
}

#treaties-table tbody td:first-child {
  width: 60px;
}

#treaties-table tbody td:first-child img {
  display: block; 
  width: 100%;
  height: auto;
}

#treaties-table tbody td h2 {
  margin: 0; 
  color: #3399cc;
}

div.dropdown.inline {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
/************************************/
/********** SEARCH RESULTS **********/
/************************************/
h1 + #term-definition {
  margin-top: -3px;
  border-top: 1px solid #c6cedb;
  border-bottom: 1px solid #f7f7f7;
  padding: 12px 0;
}

#term-definition {
  margin-bottom: 12px;
}

#term-definition .definition {
  float: left;
  width: 460px;
  padding-right: 9px;
  border-right: 1px solid #f7f7f7;
}

#term-definition .definition > p {
  margin: 0;
}

#term-definition .term-info {
  float: left;
  width: 460px;
  margin-left: -1px;
  padding-left: 10px;
  border-left: 1px solid #f7f7f7;
}

#term-definition .term-info > p {
  line-height: 24px;
}

#search-results .nav-tabs {
  padding-left: 36px;
}

#search-filters {
  float: left;
  width: 168px;
}

#search-filters .search-category {
  padding: 5px 0 8px;
  border-bottom: 1px solid #c6cedb;
  font-size: 18px;
  line-height: 18px;
}

#search-filters .search-category > span {
  font-family: Georgia, serif;
}

#search-filters .search-category .dropdown-menu {
  margin-top: 3px;
}

#search-filters .filters {
  padding: 8px 0;
}

#search-filters .filters p {
  font-size: 14px;
  margin-bottom: 6px;
}

#search-filters .filters p:after{
  content: ":";
}

#search-filters + #search-results {
  float: left;
  width: 772px;
}

#search-results .tab-content {
  margin: 0 0 24px 0;
  border: 0;
  padding: 8px 0 0 36px;
}


.search-result {
  margin-bottom: 16px;
}

.search-result .title {
  font-family: Georgia, serif;
  font-size: 15px;
  line-height: 24px;
}

.search-result p {
  height: 36px;
  overflow: hidden;
  margin: 0;
}

.search-result div {
  line-height: 24px;
  color: #8a95a6;
}

/************************************/
/********** DISPLAY STATES **********/
/************************************/
/* A TREATY HEADER */
.treaty-header {
  margin-bottom: 18px;
  border-bottom: 1px solid #c6cedb;
  padding-bottom: 12px;
}

.treaty-header h1 {
  margin: 0;
}

.treaty-info1 {
  float:left;
  width:468px;
  margin-right: 12px;
}

.treaty-info2 {
  float:left;
  width:192px;
  margin-right: 16px;
}

.treaty-actions {
  float:left;
  width:180px;
}

/* A TREATY LIST */
#treaties-list li {
  margin: 0 0 12px 0;
}

#treaties-list li a {
  display: block;
  background: #f7f7f7;
  *zoom: 1;
}

#treaties-list li a:before,
#treaties-list li a:after {
  display: table;
  line-height: 0;
  content: "";
}

#treaties-list li a:after {
  clear: both;
}

#treaties-list li a:hover,
#treaties-list li a:focus {
  background: #fff;
  -webkit-box-shadow:  0px 0px 2px 2px #3399cc;
     -moz-box-shadow:  0px 0px 2px 2px #3399cc;
          box-shadow:  0px 0px 2px 2px #3399cc;
}

#treaties-list li a:hover div,
#treaties-list li a:focus div {
  text-decoration: none;
}

/* A DECISION LIST */
#decisions .decisions-list > li {
  margin-bottom: 12px;
}

#decisions .decision-number {
  width: 60px;
  margin-right: 12px;
}

#decisions .decision-info {
  margin-left: 72px;
}

#decisions .decision-info > span {
  font-size: 11px;
  font-weight: normal;
  text-transform: uppercase;
}

/* A FOCAL POINT */
.focal-point {
  margin-bottom: 18px;
}

.focal-point .thumbnail button:first-child {
  width: 43px;
}

.focal-point .focal-point-info {
  margin-left: 72px;
}

.focal-point h3 {
  font-family: Georgia, serif;
  margin: 0 0 12px;
}

.focal-point h3 + p {
  margin-top: -12px;
  font-family: Georgia, serif;
  font-style: italic;
}

/*******************************/
/********** HOME PAGE **********/
/*******************************/
#homepage {
  text-align: center; 
}

#homepage

.feature {
  font-size: 14px;
  text-align: center;
}

.feature h2 {
  color: #1a3a6f;
  text-transform: uppercase;
}

.feature p,
.feature a {
  margin-left: 24px;
  margin-right: 24px;
}

.feature p {
}

.feature.treaties h2 {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  padding: 0 6px;
  background: #fff;
}

.feature.treaties ul {
  margin: -24px 36px 24px;
  border: 1px solid #1a3a6f;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  padding: 12px 24px 12px;
  list-style-type: none;
  color: #1a3a6f;
}

.feature.treaties ul li {
  border-bottom: 1px solid #c6cedb;
  padding: 12px 0;
}

.feature.treaties ul li:last-child {
  border-bottom: 0;
}

.feature img,
.select-country {
  margin-bottom: 12px;
}

.select-country {
  position: relative;
}

.select-country select {
  position: absolute;
  top: 50%;
  bottom: 50%;
  left: 50%;
  right: 50%;
  width: 160px;
  height: 24px;
  margin-top: -11px;
  margin-left: -80px;
  padding: 1px;
  border: 2px solid #1a3a6f;
}

/*******************************/
/********** NEWS ROOM **********/
/*******************************/
.news {
  padding: 6px 0;
  border-bottom: 1px solid #f7f7f7;
  *zoom: 1;
}

.news:first-child {
  margin-top: -6px;
}

.news:before,
.news:after {
  display: table;
  line-height: 0;
  content: "";
}

.news:after {
  clear: both;
}

.news strong {
  display: block;
  margin-bottom: 6px;
}

.news a {
  display: block;
  margin-left: 72px;
}

.latest a {
  font-size: 15px;
  margin-left: 0;
}

/****************************/
/********** MODALS **********/
/****************************/
.close-modal {
  position: absolute;
  top: 12px;
  right: 16px;
}

.modal.contact-fp {
  width: 540px;
  margin-left: -282px!important;
}

.contact-fp > .container {
  width: auto;
}

.treaty-reader .treaty-header {
  margin-bottom: 12px;
}

.treaty-reader .span9 {
  margin-left:0px; 
  width:720px;
}

.toolbar {
  padding: 6px 0;
  border-bottom: 1px solid #f7f7f7;
}

.treaty-reader .toolbar {
  margin-top: -13px;
}

.toolbar strong {
  margin-left: 12px;
}

.toolbar a {
  color: #565656;
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
.toolbar a:hover,
.toolbar a:focus {
  padding: 1px 3px;
  margin: -1px -3px;
  background: #3399cc;
  -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
        border-radius: 2px;
  text-decoration: none;
  color: #fff;
}
.toolbar a:active {
  background: #ffcc66;
}

.treaty-text {
  padding: 12px;
}

.treaty-text h1,
.treaty-text h1 a,
.treaty-text h1 a:hover,
.treaty-text h1 a:focus {
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
  color: #565656;
  outline: 0;
  border: 0;
}

.modal form {
  margin-left: 72px;
  margin-right: 72px;
  margin-bottom: 6px;
}

.modal hr {
  margin: 12px 0;
}

.modal form hr {
  margin: 12px -72px;
}

.decision-reader .decision-info {
  margin-top: 24px;
}
.decision-reader .decision-info dt {
  width: 120px;
}

.decision-reader .decision-info dt,
.decision-reader .decision-info dd {
  border-top: 1px solid #f7f7f7;
  padding: 3px 0;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000000;
}

.modal-backdrop.fade {
  opacity: 0;
}

.modal-backdrop,
.modal-backdrop.fade.in {
  opacity: 0.8;
  filter: alpha(opacity=80);
}

.modal {
  position: fixed;
  top: 10%;
  left: 50%;
  z-index: 1050;
  margin-left: -482px;
  padding: 12px;
  background-color: #ffffff;
/*  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;*/
  outline: none;
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
     -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
          box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  /*-webkit-background-clip: padding-box;
     -moz-background-clip: padding-box;
          background-clip: padding-box;*/
}

.modal.fade {
  top: -25%;
  -webkit-transition: opacity 0.3s linear, top 0.3s ease-out;
     -moz-transition: opacity 0.3s linear, top 0.3s ease-out;
       -o-transition: opacity 0.3s linear, top 0.3s ease-out;
          transition: opacity 0.3s linear, top 0.3s ease-out;
}

.modal.fade.in {
  top: 10%;
}

.modal-header {
  padding: 9px 15px;
  border-bottom: 1px solid #eee;
}

.modal-header .close {
  margin-top: 2px;
}

.modal-header h3 {
  margin: 0;
  line-height: 30px;
}

.modal-body {
  position: relative;
  max-height: 400px;
  padding: 15px;
  overflow-y: auto;
}

.modal-form {
  margin-bottom: 0;
}

.modal-footer {
  padding: 14px 15px 15px;
  margin-bottom: 0;
  text-align: right;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 #ffffff;
     -moz-box-shadow: inset 0 1px 0 #ffffff;
          box-shadow: inset 0 1px 0 #ffffff;
}

.modal-footer:before,
.modal-footer:after {
  display: table;
  line-height: 0;
  content: "";
}

.modal-footer:after {
  clear: both;
}

.modal-footer .btn + .btn {
  margin-bottom: 0;
  margin-left: 5px;
}

.modal-footer .btn-group .btn + .btn {
  margin-left: -1px;
}

.modal-footer .btn-block + .btn-block {
  margin-left: 0;
}


.btn-mini.dropdown-toggle + .dropdown-menu > li > a {
  padding: 3px 6px;
  font-size: 11px;
  line-height: 15px;
}

.dropdown-toggle + .dropdown-menu > li.info {
  white-space: nowrap;
  padding: 3px 6px;
}