/* GLOBAL :: logos */
a .logo {
    display: block;
    width: 60px;
    height: 60px;
    margin: 0 auto;
    
    background: url("../images/all_logos.png") no-repeat;
    background-position-x: 0;
    background-position-y: 0px;
}

a:hover .logo,
a:active .logo,
a:focus .logo {
    background-position-y: -60px;
}

/*later*/
.later .logo {
  background-position-x: 0;
}
.itpgrfa .logo {
  background-position-x: -60px;
}
.stockholm .logo {
  background-position-x: -120px;
}
.later .logo {
  background-position-x: -180px;
}
.un .logo {
  background-position-x: -240px;
}
.un .logo {
  background-position-x: -300px;
}
.basel .logo {
  background-position-x: -360px;
}
.ozone .logo {
  background-position-x: -420px;
}
.unccd .logo {
  background-position-x: -480px;
}
.cbd .logo {
  background-position-x: -540px;
}
.later .logo {
  background-position-x: -600px;
}
.unece .logo {
  background-position-x: -660px;
}
.cites .logo {
  background-position-x: -720px;
}
.ramsar .logo {
  background-position-x: -780px;
}
.unep .logo {
  background-position-x: -840px;
}
.unep .logo {
  background-position-x: -840px;
}
.abidjan .logo {
  background-position-x: -840px;
}
.cms .logo {
  background-position-x: -900px;
}
.later .logo {
  background-position-x: -960px;
}
.unesco .logo {
  background-position-x: -1020px;
}
.fao .logo {
  background-position-x: -1080px;
}
.rotterdam .logo {
  background-position-x: -1140px;
}
.unfccc .logo {
  background-position-x: -1200px;
}
.later .logo {
  background-position-x: -1260px;
}
.later .logo {
  background-position-x: -1320px;
}
.later .logo {
  background-position-x: -1380px;
}