body > div,
#breadcrumbs {
	width: 940px;
	margin-left: auto;
	margin-right: auto;
}

h1 {
	font-family: Georgia, serif;
	font-weight: normal;
	font-size: 24px;
	line-height: 30px;
	color: #16232e;
}

h2 {
	font-family: Georgia, serif;
	font-weight: normal;
	font-size: 18px;
	line-height: 24px;
}

h3 {
	font-weight: normal;
	font-size: 15px;
	line-height: 18px;
}

h4,
h5,
h6 {
	margin: 0 0 6px 0;
	font-size: 13px;
	line-height: 15px;
}

p {
	margin: 0 0 12px 0;
}

a, 
a:visited {
	color: #3399cc;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

table {
	width: 100%;
	/*border: 1px solid #c6cedb;*/
	border-collapse:collapse;
}

tr:nth-child(even) {
	background: #f7f7f7;
}

th {
	width: 20%;
	border-bottom: 1px solid #f7f7f7;
	padding: 6px 12px;
}

th:first-child { width: 40%; }

td {
	padding: 4px 12px;
	border-top: 1px solid #f7f7f7;
	border-left: 1px solid #f7f7f7;
}

td:first-child { border-left: 0; }




span.status.active	{ color: #99cc99; }
span.status.revised { color: #ffcc66; }
span.status.retired { color: #ff6666; }

.additional-info {
	color: #8a95a6;
}

/* GENERIC COMPONENTS */

/* Content Wrapper */
.wrap {
	width: 960px;
	margin-left: auto;
	margin-right: auto;
}

/* Tabs */
ul.tabs {
	margin: 0 0 -1px 0;
	border-bottom: 1px solid #c6cedb;
}

ul.tabs > li > a {
	display: block;
	float:left;
	margin-bottom: -1px;
	padding: 3px 12px;
	font-size: 15px;
	line-height: 24px;
}

ul.tabs > li > a:hover {
	border-bottom: 3px solid #3399cc;
	padding-bottom: 0;
	text-decoration: none;
}

ul.tabs > li > a.active,
ul.tabs > li > a.active:hover {
	cursor: default;
	padding-bottom: 3px;
	border-top: 1px solid #c6cedb;
	border-right: 1px solid #c6cedb;
	border-left: 1px solid #c6cedb;
	border-bottom: 0;
	text-decoration: none;
	color: #565656;
	background: #fff;
}

div.tab-display {
	border-right: 1px solid #c6cedb;
	border-left: 1px solid #c6cedb;
	border-bottom: 1px solid #c6cedb;
}

/* Display+Select Box */
.select > div {
	padding: 12px;
	text-align: center;
	background: #f7f7f7;
}

.select > div > img {
	display: block;
	width: 60px;
	height: 60px;
	margin: 0 auto;
}

.select > div > a {
	display: block;
	font-size: 14px;
	line-height: 18px;
	margin: 6px 0;
}

.select > div > p {
	margin: 0;
	font-size: 11px;
	color: #8a95a6;
}

.select > select {
	width: 100%;
	margin: 8px 0 0 0;
}

/* Anchor>Button + cta(Call to Action) */
a.btn,
button.btn {
	display: inline-block;
	padding: 1px 3px;
	line-height: 16px;
	color: #fff;
	background: #3399cc;
}

a.btn:hover,
button.btn:hover {
	text-decoration: none;
	background: #1a3a6f;
}

a.btn.cta,
button.btn.cta {
	padding: 7px 12px;
	font-family: Georgia, serif;
	font-size: 14px;
	background: #3399cc;
	background: -moz-linear-gradient(top,  #3399cc 0%, #267399 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3399cc), color-stop(100%,#267399));
	background: -webkit-linear-gradient(top,  #3399cc 0%,#267399 100%);
	background: -o-linear-gradient(top,  #3399cc 0%,#267399 100%);
	background: -ms-linear-gradient(top,  #3399cc 0%,#267399 100%);
	background: linear-gradient(to bottom,  #3399cc 0%,#267399 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3399cc', endColorstr='#267399',GradientType=0 );
}

a.btn.cta:hover,
button.btn.cta:hover {
	color: #16232e;
	background: #ffcc66;
}

/* Drop-down Button */
.drop-down-button {
	position: relative;
}

.drop-down-button button {
	display: block;
	float: left;
}

.drop-down-button button.btn-menu-toggle {
	padding: 1px;
}

ul.drop-menu {
	display: none;
	list-style-type: none;
	position: absolute;
	top: 18px;
	right: 0;
	width: auto;
	overflow: visible;
	margin: 0;
	padding: 0;
	background: #f7f7f7;
	        box-shadow:  0px 6px 6px 0px rgba(0, 0, 0, 0.2);
         -o-box-shadow:  0px 6px 6px 0px rgba(0, 0, 0, 0.2);
        -ms-box-shadow:  0px 6px 6px 0px rgba(0, 0, 0, 0.2);
       -moz-box-shadow:  0px 6px 6px 0px rgba(0, 0, 0, 0.2);      
	-webkit-box-shadow:  0px 6px 6px 0px rgba(0, 0, 0, 0.2);
}

ul.drop-menu:focus {
	background: red;
}

ul.drop-menu li a {
	display: block;
	white-space:nowrap;
	padding: 3px 6px;
	line-height: 18px;
}

ul.drop-menu li a:hover {
	text-decoration: none;
	color: #fff;
	background-color: #3399cc;
}

/* Remove list */
ul.no-ul,
ol.no-ul,
dl.no-ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

/* Tag Cloud */
#tag-cloud > ol {
	padding: 0 0 0 30px;
	font-size: 10px;
	line-height: 14px;
}

.tag10 { font-size:15px; line-height: 18px; }
.tag9  { font-size:14px; line-height: 17px; }
.tag8  { font-size:14px; line-height: 17px; }
.tag7  { font-size:14px; line-height: 17px; }
.tag6  { font-size:12px; line-height: 16px; }
.tag5  { font-size:12px; line-height: 16px; }
.tag4  { font-size:12px; line-height: 16px; }
.tag3  { font-size:10px; line-height: 15px; }
.tag2  { font-size:10px; line-height: 15px; }
.tag1  { font-size:10px; line-height: 15px; }

/* Toggle View Classes */
.hide { display: none; }

/* Clear fix */
.clear:after,
section > *:after,
#treaties-list li a:after {
	content: ".";
    display: block;
    visibility: hidden;
    clear: both;
    height: 0;
    line-height: 0;
}

/* GLOBAL */

/* Header */
header {
	height: 60px;
	border-bottom: 1px solid #1a3a6f;
	background: #3399cc;
	background: -moz-linear-gradient(top,  #3399cc 0%, #267399 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3399cc), color-stop(100%,#267399));
	background: -webkit-linear-gradient(top,  #3399cc 0%,#267399 100%);
	background: -o-linear-gradient(top,  #3399cc 0%,#267399 100%);
	background: -ms-linear-gradient(top,  #3399cc 0%,#267399 100%);
	background: linear-gradient(to bottom,  #3399cc 0%,#267399 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3399cc', endColorstr='#267399',GradientType=0 );
}

header .logo {
	float: left;
	margin: 0 24px 0 10px;
}

header .logo img {
	margin: 4px 0 0 0;
}

ul#top-menu > li {
	float: left;
	width: 120px;
}

ul#top-menu > li:first-child { border-left: 1px solid rgba(26,58,111,0.25); }

ul#top-menu > li:last-child  { border-right: 1px solid rgba(247,247,247,0.25); }

ul#top-menu > li > a,
ul#top-menu > li > div.drop > a {
	display: block;
	border-left: 1px solid rgba(247,247,247,0.25);
	border-right: 1px solid rgba(26,58,111,0.25);
	padding: 20px 12px;
	font-family: Georgia, serif;
	font-size: 15px;
	line-height: 20px;
	text-transform: uppercase;
	text-align: center;
	color: #fff;
	text-shadow: 0 1px 1px #1a3a6f;
        filter: dropshadow(color=#1a3a6f, offx=, offy=1);
}

ul#top-menu > li > a:hover,
ul#top-menu > li > div.drop:hover > a {
	text-decoration: none;
	color: #8a95a6;
	text-shadow: 0 -1px 1px #fff;
        filter: dropshadow(color=#fff, offx=, offy=-1);
	background: #f7f7f7;

}

/* Adds a little arrow underneath "Treaties" */
ul#top-menu > li > div.drop > a:after {
	content: "";
	display: block;
	width: 16px;
	height: 16px;
	margin: 0 auto -16px;
	background: url('images/sprite_16x16.png') 0 -16px no-repeat;
}
/* Removes the arrow on hover */
ul#top-menu > li > div.drop:hover > a:after {
	display: none;
}



ul#top-menu > li > div.drop > div.sub-menu {
	display: none;
	position: absolute;
	top: 60px;
	left: 0;
	right: 0;
	z-index: 1;
	height: 0;
	overflow: hidden;
	border-bottom: 1px solid #c6cedb;
	background: #f7f7f7;
            box-shadow:  0px 6px 6px 0px rgba(0, 0, 0, 0.2);
         -o-box-shadow:  0px 6px 6px 0px rgba(0, 0, 0, 0.2);
        -ms-box-shadow:  0px 6px 6px 0px rgba(0, 0, 0, 0.2);
       -moz-box-shadow:  0px 6px 6px 0px rgba(0, 0, 0, 0.2);      
	-webkit-box-shadow:  0px 6px 6px 0px rgba(0, 0, 0, 0.2);
}

ul#top-menu > li > div.drop:hover > div.sub-menu {
	display: block;
	height: auto;
}

div.sub-menu div.wrap {
	margin-top: 24px;
	margin-bottom: 12px;
}

div.sub-menu div.wrap > div {
	float: left;
	width: 220px;
	margin: 0 10px;
	padding: 0 0 12px 0;
	font-size: 13px;
}
div.sub-menu div.wrap > div h3 {
	margin: 12px 0;
	font-weight: bold;
	font-size: 15px;
}

div.sub-menu div.wrap > div h3:first-child {
	margin-top: 0;
}

div.sub-menu div.wrap > div ul li a {
	display: block;
	line-height: 22px;
}

div.sub-menu div.wrap > div.span2col {
	width: 450px;
}

div.sub-menu div.wrap > div.span2col h3 {
	color: #8a95a6;
}

div.sub-menu div.wrap > div.span2col ul li {
	float: left;
	width: 220px;
}

#search-bar {
	float: right;
	position: relative;
	margin: 16px 10px;
	width: 312px;
}

#search-bar input.search {
	width: 240px;
	height: 20px;
	margin: 0 -1px;
	border: 1px solid #c6cedb;
	padding: 3px 6px;
	line-height: 14px;
}


/* Search Suggestions */
#suggestions { display: none; }
#search-bar input.search:focus + div#suggestions { display:block; }

#suggestions {
	position: absolute;
	top:30px;
	left:-1px;
	z-index: 1;
	width: 309px;
	border: 2px solid #ffcc66;
	background: #fff;
	        box-shadow:  0px 6px 6px 0px rgba(0, 0, 0, 0.2);
         -o-box-shadow:  0px 6px 6px 0px rgba(0, 0, 0, 0.2);
       -moz-box-shadow:  0px 6px 6px 0px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow:  0px 6px 6px 0px rgba(0, 0, 0, 0.2);
}

#suggestions > p {
	margin: 0;
	padding: 0 6px;
}
#suggestions > p:first-child {
	font-style: italic;
	line-height: 32px;
	color: #8a95a6;
}

#suggestions > p.category {
	margin-bottom: -1px;
	font-size: 10px;
	line-height: 16px;
	text-transform: uppercase;
	color: #8a95a6;
	background: #f7f7f7;
}

#suggestions a {
	display: block;
	border-top: 1px solid #f7f7f7;
	padding: 1px 6px;
	line-height: 18px;
	color: #565656;
}

#suggestions a span {
	display: block;
}

#suggestions a:hover {
	text-decoration: none;
	background: #3399cc;
}

#suggestions a:hover span { color: #fff; }

#suggestions a img {
	float: left;
	width: 36px;
	height: 100%;
	margin: 0 6px 0 0;
}

#suggestions a.treaty-suggestion { height: 36px; }
#suggestions a.treaty-suggestion span.suggestion-name { line-height: 24px; }
#suggestions a.treaty-suggestion span.additional-info { margin-top: -4px; font-size: 10px; line-height: 16px; }

#suggestions a.country-suggestion { height: 24px; line-height: 24px; }

#suggestions a.term-suggestion span { margin-left: 42px; }

#search-bar button {
	display: inline-block;
	vertical-align: top;
	width: 60px;
	height: 28px;
	border-style: none;
	background: #ffcc66;
}

/* Breadcrumbs */
#breadcrumbs {
	margin-bottom: 8px;
	line-height: 24px;
}

#breadcrumbs li {
	float: left;
}

#breadcrumbs li:after {
	content: "-";
	margin: 0 6px;
}

#breadcrumbs li:last-child:after {
	display: none;
}

/* Navigation Box */
nav {
	position: absolute; /* TEMP: change back to fixed */
	top: 190px;
	width: 200px;
}

nav > div {
	margin: 0 0 12px 0;
	padding: 6px 0;
	font-size: 13px;
	line-height: 24px;
	background: #f7f7f7;
}

nav > div > h4 {
	padding: 0 12px;
	line-height: 24px;
}

#table-of-contents > ul > li a {
	display: block;
	padding: 0 12px;
}

#table-of-contents > ul > li a:hover {
	text-decoration: none;
	color: #fff;
	background: #3399cc;
}

#treaty-jump {
	padding: 12px;
}

#treaty-jump select {
	width: 100%;
}

footer {
	overflow: hidden;
	border-top: 2px solid #8a95a6;
	color: #505c6a;
	background-color: #16232e;
}

footer a,
footer a:visited {
	color: #8a95a6;
}

footer a:hover,
footer a:focus {
	color: #c6cedb;
}


footer section {
	width: 960px;
	overflow: hidden;
	margin: 0 auto;
	border-top: 1px solid #505c6a;
	padding: 6px 0 12px;
}

footer section:first-child {
	border-top: 0;
}

footer h3 {
	margin: 0 0 8px 0;
	font-size: 11px;
	text-transform: uppercase;
	color: #505c6a;
}

footer h4 {
	font-size: 14px;
	color: #8a95a6;
}

footer li.logo {
	float: left;
	width: 80px;
}

footer li.logo:hover,
footer li.logo:active,
footer li.logo:focus {
    background-color: rgba(255,255,255,0.2);
}

footer li.logo a {
	display: block;
	text-align: center;
}

footer li.logo a:hover {
	text-decoration: none;
}

footer li.logo a p {
	margin: 6px 0 0 0;
}

footer section > div {
	float: left;
	display: block;
	width: 225px;
	margin: 0 20px 0 0;
}

footer section > div:last-child {
	margin-right: 0;
}

footer section > div > ul > li {
	padding: 3px 0;
}

/* Page-specific Content */
#content {
	min-height: 360px;
}

nav + #content {
	float:right;
	width: 720px;
}

#content section h2 {
	margin: 0 0 8px 0; 
	border-bottom: 1px solid #c6cedb;
}

#content section h2:first-child {
	margin-top: 0;
}

#content section {
	margin-bottom: 24px;
}

.treaty-header {
	margin-bottom: 24px; 
	border-bottom: 1px solid #c6cedb;
	padding: 0 0 12px 0;
}

.treaty-header img {
	float: left;
	width: 64px;
	height: 64px;
	margin: 0 12px 0 0;
}

.treaty-header h1 {
	margin:0;
}

.treaty-header p {
	float:left;
	margin:0;
	line-height: 16px;
}

.treaty-header h1 + p {
	width: 468px;
}

.treaty-header div.drop-down-button {
	float: right;
}

.treaty-header button.btn.default.cta {
	border-right: 1px solid rgba(26,58,111,0.25);
}

.treaty-header button.btn.btn-menu-toggle {
	width: 30px;
	height: 30px;
	padding: 7px;
	border-left: 1px solid rgba(247,247,247,0.25);
}

.treaty-header ul.drop-menu {
	top:30px;
}

section#decisions > h2 { 
	margin-bottom: -1px;
}

section#decisions > ul {
	max-height: 612px;
	overflow-y: scroll;
	border: 1px solid #c6cedb;
	padding: 12px 0;
}

section#decisions > ul > li {
	clear:both;
	margin: 12px 0 0 0;
	padding: 0 12px;
	line-height: 16px;
}

section#decisions > ul > li:first-child {
	margin-top: 0px;
}

section#decisions .meeting-bar {
	margin-bottom: -1px;
	border: 1px solid #c6cedb;
	line-height: 24px
}

section#decisions .meeting-bar > a {
	display: inline-block;
	padding: 0 6px;
	color: #8a95a6;
}

section#decisions .meeting-bar > a:hover {
	color: #3399cc;
}

section#decisions .meeting-bar .earlier-meeting {
	float: left;
	margin-right: 6px;
	border-right: 1px solid #c6cedb;
}

section#decisions .meeting-bar .previous-meeting {
	float: right;
	margin-left: 6px;
	border-left: 1px solid #c6cedb;
}

section#decisions .meeting-bar .meeting a {
	font-weight: bold;
}

section#decisions > ul > li > div.decision-number {
	float: left;
	width: 48px;
	margin: 0 12px 0 0;
	font-size:11px;
	color: #8a95a6;
}

section#decisions > ul > li > div.decision-number > span {
	font-size: 12px;
	color: #565656;
}

section#decisions div.decision-info {
	font-size: 11px;
	text-transform: uppercase;
}

section#decisions > ul > li > p {
	margin: 0 0 0 60px;
}


#focal-points .select {
	float: left;
	width: 160px;
}

#focal-points > ul > li {
	margin: 0 0 24px 180px;
}

#focal-points > ul > li:last-child {
	margin-bottom: 0;
}

.focal-point {

}

.focal-point .avatar {
	float: left;
	width: 60px;
}

.focal-point .avatar img {
	width: 60px;
	height: 60px;
}

.focal-point .contact-info {
	margin: 0 0 0 72px;
}

.focal-point .contact-info h3 {
	margin: 0;
	font-family: Georgia, serif;
	font-weight: normal;
	font-size: 15px;
	line-height: 24px;
}

.focal-point .contact-info p {
	font-family: Georgia, serif;
	font-style: italic;
}

.focal-point .contact-info dl dt {
	float: left;
	width: 72px;
	font-weight: bold;
}

.focal-point .contact-info dl dd {
	margin-left: 80px;	
}

section#members {

}

/* 'Treaties' section page (lvl 2) */
#treaties-list {

}

#treaties-list li {
	margin: 0 0 12px 0;
}

#treaties-list li a {
	display: block;
	background: #f7f7f7;
}

#treaties-list li a:hover {
	background: #fff;
	-webkit-box-shadow:  0px 0px 2px 2px #3399cc;
            box-shadow:  0px 0px 2px 2px #3399cc;
}

#treaties-list li a:hover div {
	text-decoration: none;
}

#treaties-list li a div {
	color: #565656;
}

#treaties-list li a > img {
	display: block;
	float: left;
	width: 60px;
	height: 60px;
	margin: 0 11px 0 0;
	border-right: 1px solid #f7f7f7;
}

#treaties-list li a > h2,
#treaties-list li a > div {
	float: left;
	overflow: hidden;
	margin: 0;
	padding: 18px 0;
	line-height: 24px;
}

#treaties-list li a > h2 { width: 280px; }
#treaties-list li a > div.treaty-topic { width: 360px; }
#treaties-list li a > div.treaty-coverage { width: 120px; }
#treaties-list li a > div.treaty-year { width: 102px; text-align: center; }