<div class="focal-point">
    {% include 'nfp-contact-info.twig' %}
</div>
<form>
    <input id="name" name="name" class="input-block-level" type="text" placeholder="Your name" />
    <input id="email" name="email" class="input-block-level" type="text" placeholder="E-mail" />
    <textarea id="message" name="message" class="input-block-level" rows="5"></textarea>
    <div>Captcha</div>
</form>
