<div id="treaty-decision-modal" class="modal hide fade decision-reader" tabindex="-1" role="dialog" aria-labelledby="Decision information" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icon-remove"></i></button>
        {% include 'treaty-header.twig' with { 'modal' : TRUE } %}
    </div>
    <div class="modal-body">
        <p>Loading decision data, please wait ...</p>
    </div>
</div>
