<!DOCTYPE HTML>
<html>
	<head>
		<title>InforMEA Test page</title>
		<link rel="stylesheet" type="text/css" href="../css/normalize.css" media="screen">
		<link rel="stylesheet" type="text/css" href="../css/sprite.css" media="screen">
		<link rel="stylesheet" type="text/css" href="../css/logos.css" media="screen">
		<link rel="stylesheet" type="text/css" href="../style.css" media="screen">
		<script src="../scripts/jquery-1.10.2.min.js"></script>
		<script src="../scripts/script.js"></script>
		<!--[if lt IE 9]>
		<script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE8.js"></script>
		<![endif]-->
	</head>
	<body>
		<header>
			<div class="wrap">
				<div class="logo"><a href="#"><img src="../images/informea_logo.png" alt="InforMea Logo"></a></div>
				<ul id="top-menu" class="no-ul">
					<li><div class="drop">
						<a href="#">Treaties</a>
						<div class="sub-menu">
							<div class="wrap clear">
								<div>
									<h3>Biological Diversity</h3>
									<ul class="no-ul">
										<li><a href="#">CBD</a></li>
										<li><a href="#">Cartagena Protocol</a></li>
										<li><a href="#">Nagoya Protocol</a></li>
										<li><a href="#">CITES</a></li>
										<li><a href="#">CMS</a></li>
										<li><a href="#">AEWA</a></li>
										<li><a href="#">ITPGRFA</a></li>
										<li><a href="#">Ramsar</a></li>
										<li><a href="#">WHCCBD</a></li>
									</ul>
								</div>
								<div>
									<h3>Chemicals / Waste</h3>
									<ul class="no-ul">
										<li><a href="#">Basel</a></li>
										<li><a href="#">Rotterdam</a></li>
										<li><a href="#">Stockholm</a></li>
									</ul>
									<h3>Climate / Atmosphere</h3>
									<ul class="no-ul">
										<li><a href="#">UNFCCC</a></li>
										<li><a href="#">Kyoto Protocol</a></li>
										<li><a href="#">UNCCD</a></li>
										<li><a href="#">Vienna</a></li>
										<li><a href="#">Montreal Protocol</a></li>
									</ul>
								</div>
								<div class="span2col">
									<h3>Other Treaties</h3>
									<ul class="no-ul">
										<li><a href="#">Treaty</a></li>
										<li><a href="#">Treaty</a></li>
										<li><a href="#">Treaty</a></li>
										<li><a href="#">Treaty</a></li>
										<li><a href="#">Treaty</a></li>
										<li><a href="#">Treaty</a></li>
										<li><a href="#">Treaty</a></li>
										<li><a href="#">Treaty</a></li>
										<li><a href="#">Treaty</a></li>
										<li><a href="#">Treaty</a></li>
										<li><a href="#">Treaty</a></li>
										<li><a href="#">Treaty</a></li>
										<li><a href="#">Treaty</a></li>
										<li><a href="#">Treaty</a></li>
										<li><a href="#">Treaty</a></li>
										<li><a href="#">Treaty</a></li>
										<li><a href="#">Treaty</a></li>
									</ul>
								</div>
							</div>
						</div>
						</div>
					</li>
					<li><a href="#">Countries</a></li>
					<li><a href="#">Glossary</a></li>
				</ul>
				<form id="search-bar">
  					<input type="text" class="search" placeholder="Search InforMEA ..."><!-- DO NOT delete this comment
  				 --><div id="suggestions"><!-- Need Trigger for Suggestions and Listener for Keys -->
  						<p>Search InforMEA for '_keyword'</p>
  						
  				 		<p class="category">Treaties</p>
  						<a href="#" class="treaty-suggestion">
  							<img src="" alt="Treaty Logo" />
  							<span class="suggestion-name">Treaty</span>
  							<span class="additional-info">Treaty Topic</span>
  						</a>

  						<p class="category">Countries</p>
  						<a href="#" class="country-suggestion">
  							<img src="" alt="Country Flag" />
  							<span>Country<span>
  						</a>

  						<p class="category">Terms</p>
  						<a href="#" class="term-suggestion"><span>Term</span></a>
  						<a href="#" class="term-suggestion"><span>Term</span></a>
  					</div><!--
  				 --><button type="submit" class=""><i class="icon-search"> </i></button>
				</form>
			</div>

		</header>

		<ol id="breadcrumbs" class="no-ul clear">
				<li><a href="#">InforMEA.org</a></li>
				<li><span class="hide">You are here: </span>Current page</li>
		</ol>

		<div id="modal-window">
			<!-- for the Treaty Reader and Decision Reader -->
		</div>

		<div class="clear">
			<div class="treaty-header clear">
				<img alt="Treaty Logo">
				<h1>Treaty Name</h1>
				<p>
					<strong>_Topic: </strong>_Subtopic<br/>
					<strong>Depository: </strong>_Depository
				</p>
				<p>
					<strong>Coverage: </strong>_Coverage<br/>
					<strong>Year: </strong>_Year
				</p>
				<div class="drop-down-button">
					<button class="btn default cta" href="#">Read Treaty Text</button><!--
				 --><button class="btn btn-menu-toggle cta"><i class="icon-down-large"> </i></button>
					<ul class="drop-menu">
						<li><a href="#">Read Treaty Text from Source</a></li>
						<li><a href="#">Visit Convention Website</a></li>
					</ul>
				</div>
			</div>

			<nav>
				<div id="table-of-contents">
					<h4>Contents</h4>
					<ul class="no-ul">
						<li><a href="#summary">Summary</a></li>
						<li><a href="#decisions">Decisions</a></li>
						<li><a href="#focal-points">Focal Points</a></li>
						<li><a href="#members">Members</a></li>
					</ul>
				</div>
				<div id="tag-cloud">
					<h4>Most Frequent Terms</h4>
					<ol>
						<li><a class="tag10" href="#">Tag 10</a></li>
						<li><a class="tag9" href="#">Tag 9</a></li>
						<li><a class="tag8" href="#">Tag 8</a></li>
						<li><a class="tag7" href="#">Tag 7</a></li>
						<li><a class="tag6" href="#">Tag 6</a></li>
						<li><a class="tag5" href="#">Tag 5</a></li>
						<li><a class="tag4" href="#">Tag 4</a></li>
						<li><a class="tag3" href="#">Tag 3</a></li>
						<li><a class="tag2" href="#">Tag 2</a></li>
						<li><a class="tag1" href="#">Tag 1</a></li>
					</ol>
				</div>
				<div id="treaty-jump">
					<select>
					    <option value="" disabled selected>Jump to a different treaty</option>
					    <option value="">Treaty options</option>
					</select>
				</div>
			</nav>

			<div id="content">
				<section id="summary">
					<h2>Summary</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc scelerisque risus eu neque accumsan imperdiet. Quisque blandit suscipit ante sit amet vehicula. Curabitur at felis scelerisque, venenatis ante nec, dictum diam. Quisque sit amet eleifend nisi, non gravida tellus. Vestibulum sem risus, rhoncus et mollis at, molestie vel dolor. Ut scelerisque arcu eu odio pharetra, quis condimentum enim gravida.</p>
				</section>
				<section id="decisions">
					<h2>Decisions</h2>
					<div class="meeting-bar clear">
						<a class="earlier-meeting" href="#">Earlier Meeting</a> <!-- TO DO: Add disabled class -->
						<a class="previous-meeting" href="#">Previous Meeting</a>
						<div class="meeting">
							<a href="#" title="Go to the meeting's oficial page!" target="_blank">Meeting Name</a> - _date, _location - _no-of-decisions
						</div>
					</div>
					<ul class="no-ul clear">
						<li>
							<div class="decision-number"><!-- Decision Number -->
								No.<br/><span>_Value</span>
							</div>
							<div class="decision-info">
								<span class="decision-type">Decisions</span>&emsp;<span class="status retired">Retired</span>
								<!-- Decision status can receive 3 classes: Active, Revised, Retired -->
							</div>
							<p class="decision-title">
								<a href="#">Status Of The Nagoya Protocol On Access To Genetic Resources And The Fair And Equitable Sharing Of Benefits Arising From Their Utilization And Related Developments</a>
							</p>
						</li>
						<li>
							<div class="decision-number"><!-- Decision Number -->
								No.<br/><span>_Value</span>
							</div>
							<div class="decision-info">
								<span class="decision-type">Decisions</span>&emsp;<span class="status active">Active</span>
								<!-- Decision status can receive 3 classes: Active, Revised, Retired -->
							</div>
							<p class="decision-title">
								<a href="#">Status Of The Nagoya Protocol On Access To Genetic Resources And The Fair And Equitable Sharing Of Benefits Arising From Their Utilization And Related Developments</a>
							</p>
						</li>
						<li>
							<div class="decision-number"><!-- Decision Number -->
								No.<br/><span>_Value</span>
							</div>
							<div class="decision-info">
								<span class="decision-type">Decisions</span>&emsp;<span class="status revised">Revised</span>
								<!-- Decision status can receive 3 classes: Active, Revised, Retired -->
							</div>
							<p class="decision-title">
								<a href="#">Status Of The Nagoya Protocol On Access To Genetic Resources And The Fair And Equitable Sharing Of Benefits Arising From Their Utilization And Related Developments</a>
							</p>
						</li>
						<li>
							<div class="decision-number"><!-- Decision Number -->
								No.<br/><span>_Value</span>
							</div>
							<div class="decision-info">
								<span class="decision-type">Type</span>&emsp;<span class="status">Status</span>
								<!--Decision status can receive 3 classes: Active, Revised, Retired
									The 'status' class is mandatory for specificity to this page. The same class will be used for search results-->
							</div>
							<p class="decision-title">
								<a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc porttitor turpis non felis sagittis tempor. Duis tellus quam, faucibus eget diam sed, auctor rhoncus nulla. Duis a augue dui. Pellentesque hendrerit, magna non dictum.</a>
							</p>
						</li>
					</ul>
				</section>

				<section id="focal-points" class="clear">
					<h2>Focal Points</h2>
					<div class="select country">
						<div>
							<img alt="Country Flag">
							<a href="#" title="See the country's profile page!">Country name</a>
							<p>Number of focal points</p>
						</div>
						<select>
						    <option value="" disabled selected>Select a country</option>
						    <option value="">Country options</option>
						</select>
					</div>
					<ul class="no-ul clear">
						<li class="focal-point">
							<div class="avatar">
								<img src="../images/avatar-placeholder.jpg" alt="Profile Picture" />
								<div class="drop-down-button">
									<button class="btn primary">Email</button><!--
								 --><button class="btn btn-menu-toggle"><i class="icon-down-small"> </i></button>
								 	<ul class="drop-menu">
								 		<li><a href="#">vCard</a></li>
								 	</ul>
									<!-- TO DO: Add button group -->
								</div>
							</div>
							<div class="contact-info">
								<h3>Person Name</h3>
								<p>Occupation</p>
								<dl>
									<dt>Department:</dt><dd>_Department Name</dd>
									<dt>Institution:</dt><dd>_Institution Name</dd>
									<dt>Address:</dt><dd>_Institution Address</dd>
								</dl>
							</div>
						</li>
						<li class="focal-point">
							<div class="avatar">
								<img src="../images/avatar-placeholder.jpg" alt="Profile Picture" />
								<div class="drop-down-button">
									<a href="">Email</a>
									<!-- TO DO: Add button group -->
								</div>
							</div>
							<div class="contact-info">
								<h3>Dra. Mercedes Lizarralde de Grosso</h3>
								<p>Directora</p>
								<dl>
									<dt>Department:</dt><dd>Facultad de Ciencias Naturales e Instituto Miguel Lillo</dd>
									<dt>Institution:</dt><dd>Instituto Superior de Entomologia (INSUE)</dd>
									<dt>Address:</dt><dd>Miguel Lillo 205</dd>
								</dl>
							</div>
						</li>
						<li class="focal-point">
							<div class="avatar">
								<img src="../images/avatar-placeholder.jpg" alt="Profile Picture" />
								<div class="drop-down-button">
									<a href="">Email</a>
									<!-- TO DO: Add button group -->
								</div>
							</div>
							<div class="contact-info">
								<h3>Person Name</h3>
								<p>Occupation</p>
								<dl>
									<dt>Department:</dt><dd>_Department Name</dd>
									<dt>Institution:</dt><dd>_Institution Name</dd>
									<dt>Address:</dt><dd>_Institution Address</dd>
								</dl>
							</div>
						</li>
					</ul>
				</section>

				
				<section id="members">
					<h2>Members</h2>
					<ul class="tabs no-ul clear">
						<li><a href="#merbers-list" class="active">List</a></li>
						<li><a href="#merbers-map">Map</a></li>
					</ul>
					<!-- Need a Trigger between Tabs and Tab-content -->
					<div class="tab-display">
						<div id="members-list" class="tab-content">
							<tabLe>
								<thead>
									<tr>
										<th>Country</th><th>Year 1</th><th>Year 2</th><th>Status</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>Albania</td><td>1990</td><td>2013</td><td>Okay</td>
									</tr>
									<tr>
										<td>Narnia</td><td>`</td><td>Forever</td><td>Happy</td>
									</tr>
									<tr>
										<td>Example</td><td>Example</td><td>Example</td><td>Example</td>
									</tr>
									<tr>
										<td>Example</td><td>Example</td><td>Example</td><td>Example</td>
									</tr>
								</tbody>
							</tabLe>
						</div>
						<!-- Use .hide class to toggle display -->
						<div id="members-map" class="tab-content hide">
						</div>
					</div>
				</section>
			</div>
		</div>

		<footer>
	        <section id="organizations">
	            <h3>Organizations</h3>
	            <ul class="no-ul clear">
	                <li class="logo">
	                    <a class="un" target="_blank" href="http://www.un.org/" title="Visit United Nations website">
	                        <div></div><p>UN</p>
	                    </a>
	                </li>
	                <li class="logo">
	                    <a class="unep" target="_blank" href="http://www.unep.org/" title="Visit United Nations Environment Programme website">
	                        <div></div><p>UNEP</p>
	                    </a>
	                </li>
	                <li class="logo">
	                    <a class="fao" target="_blank" href="http://www.fao.org/" title="Visit Food and Agriculture Organization website website">
	                        <div></div><p>FAO</p>
	                    </a>
	                </li>
	                <li class="logo"><a class="unesco" target="_blank" href="http://www.unesco.org/" title="Visit United Nations Educational, Scientific and Cultural Organization website">
	                        <div></div><p>UNESCO</p></a>
	                </li>
	                <li class="logo"><a class="unece" target="_blank" href="http://www.unece.org/" title="Visit UNECE website">
	                        <div></div><p>UNECE</p></a>
	                </li>
	            </ul>
	        </section>
	        <section id="participating_treaties">
	            <h3>Global treaties</h3>
	            <ul class="no-ul">
	                <li class="logo">
	                    <a class="unfccc" target="_blank" href="http://unfccc.int/" title="Visit United Nations Framework Convention on Climate Change website">
	                        <div></div><p>UNFCCC</p>
	                    </a>
	                </li>
	                <li class="logo">
	                    <a class="unccd" target="_blank" href="http://www.unccd.int/" title="Visit United Nations Convention to Combat Desertification website">
	                        <div></div><p>UNCCD</p>
	                    </a>
	                </li>
	                <li class="logo">
	                    <a class="ozone" target="_blank" href="http://ozone.unep.org/" title="Visit Ozone Secretariat website">
	                        <div></div><p>OZONE</p>
	                    </a>
	                </li>
	                <li class="logo">
	                    <a class="basel" target="_blank" href="http://www.basel.int/" title="Visit Basel Convention website">
	                        <div></div><p>BASEL</p>
	                    </a>
	                </li>
	                <li class="logo">
	                    <a class="rotterdam" target="_blank" href="http://www.pic.int/" title="Visit Rotterdam Convention website">
	                        <div></div><p>ROTTERDAM</p>
	                    </a>
	                </li>
	                <li class="logo">
	                    <a class="stockholm" target="_blank" href="http://chm.pops.int/" title="Visit Stockholm Convention website">
	                        <div></div><p>STOCKHOLM</p>
	                    </a>
	                </li>
	                <li class="logo">
	                    <a class="cbd" target="_blank" href="http://www.cbd.int/" title="Visit Convention on Biological Diversit website">
	                        <div></div><p>CBD</p>
	                    </a>
	                </li>
	                <li class="logo">
	                    <a class="cites" target="_blank" href="http://www.cites.org/" title="Visit Convention on International Trade in Endangered Species website">
	                        <div></div><p>CITES</p>
	                    </a>
	                </li>
	                <li class="logo">
	                    <a class="whc" target="_blank" href="http://whc.unesco.org/" title="Visit UNESCO World Heritage Convention website">
	                        <div></div><p>WHC</p>
	                    </a>
	                </li>
	                <li class="logo">
	                    <a class="ramsar" target="_blank" href="http://www.ramsar.org/" title="Visit Ramsar Convention website">
	                        <div></div><p>Ramsar</p>
	                    </a>
	                </li>
	                <li class="logo">
	                    <a class="itpgrfa" target="_blank" href="http://www.planttreaty.org/" title="Visit International Treaty on Genetic Resources for Food and Agriculture website">
	                        <div></div><p>ITPGRFA</p>
	                    </a></li>
	                <li class="logo">
	                    <a class="cms" target="_blank" href="http://www.cms.int/" title="Visit Convention on Migratory Species website">
	                        <div></div><p>CMS</p>
	                    </a></li>
	            </ul>
	        </section>
	        <section id="regional_treaties">
	            <h3>Regional treaties</h3>
                <div>
                    <h4>UNECE</h4>
                    <ul class="no-ul">
                        <li><a target="_blank" href="http://www.unece.org/env/pp/welcome.html">Aarhus Convention</a></li>
                        <li><a target="_blank" href="http://www.unece.org/env/eia/welcome.html">Espoo Convention</a></li>
                        <li><a target="_blank" href="http://www.unece.org/env/lrtap/">Long-Renage Transboundary Air Pollution</a></li>
                        <li><a target="_blank" href="http://www.unece.org/env/eia/sea_protocol.html">The Kyiv Protocol</a></li>
                        <li><a target="_blank" href="http://www.unece.org/?id=2975">Protocol on Water and Health</a></li>
                        <li><a target="_blank" href="http://www.unece.org/env/water/">Water Convention</a></li>
                        <li><a target="_blank" href="http://www.unece.org/env/pp/prtr.html">Kiev Protocol</a></li>
                        <li><a target="_blank" href="http://www.unece.org/env/teia.html">Industrial Accidents Convention</a></li>
                    </ul>
                </div>
                <div>
                    <h4>CMS</h4>
                    <ul class="no-ul">
                        <li><a target="_blank" href="http://www.accobams.org/">ACCOBAMS</a></li>
                        <li><a target="_blank" href="http://www.unep-aewa.org/">AEWA</a></li>
                        <li><a target="_blank" href="http://www.ascobans.org/">ASCOBANS</a></li>
                        <li><a target="_blank" href="http://www.eurobats.org/">EUROBATS</a></li>
                        <li class="h-separator"></li>
                        <li><a target="_blank" href="http://www.the-acap.org/">ACAP</a></li>
                        <li><a target="_blank" href="http://www.igcp.org/">International Gorilla Conservation Programme</a></li>
                        <li><a target="_blank" href="http://www.waddensea-secretariat.org/">WADDEN SEA SEALS</a></li>
                    </ul>
                </div>
                <div>
                    <h4>Regional Seas</h4>
                    <ul class="no-ul">
                        <li><a target="_blank" href="http://abidjanconvention.org/">Abidjan Convention</a></li>
                        <li><a target="_blank" href="http://www.iattc.org/IATTCdocumentationENG.htm">Antigua Convention</a></li>
                        <li><a target="_blank" href="http://www.sprep.org/">Apia Convention</a></li>
                        <li><a target="_blank" href="http://www.unep.ch/regionalseas/regions/med/t_barcel.htm">Barcelona Convention</a></li>
                        <li class="h-separator"></li>
                        <li><a target="_blank" href="http://www.unep.ch/regionalseas/main/persga/redconv.html">Jeddah Convention</a></li>
                        <li><a target="_blank" href="http://www.unep.org/nairobiconvention/">Nairobi Convention</a></li>
                        <li><a target="_blank" href="http://www2.unitar.org/cwm/publications/cbl/synergy/cat1_agree/noumea.htm">Noumea Convention</a></li>
                    </ul>
                </div>
                <div>
                    <h4>Regional Treaties</h4>
                    <ul class="no-ul">
                        <li><a target="_blank" href="http://www.opcw.org/chemical-weapons-convention/related-international-agreements/toxic-chemicals-and-the-environment/bamako-convention/">Bamako Convention</a></li>
                        <li><a target="_blank" href="http://www.lusakaagreement.org/">Lusaka Agreement</a></li>
                    </ul>
                </div>
	        </section>
	        <section id="disclaimer">
	        	<p><a href="">Terms and conditions</a> - Portions Copyright &copy; United Nations, FAO, UNEP, UNESCO</p>
	        </section>
		</footer>
	</body>
</html>